@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
/* Variables */
:root {
  --font-size:1rem;
}

.dark-mode {
  --navbar-color: #FFF;
  --navbar-bg-color: rgba(0, 0, 0, 0.387);
}

/* Reset */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Basic style */
body {
  margin: 0;
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  background-color: rgb(36, 36, 36);
  color: azure;
}

.main-content {
  padding: 1rem;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(89, 46, 4, 0.397), rgba(1, 87, 90, 0.5)), url("/public/image/headerbg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Navbar */
}
header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 1em;
  justify-content: space-between;
  text-align: center;
}
header .title h1 {
  font-family: "Edu SA Beginner", cursive;
  padding-bottom: 1em;
}
header .other-link {
  padding-top: 2em;
  text-align: center;
}
header .other-link button {
  background-color: rgba(240, 248, 255, 0);
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 1em;
}
header .other-link button i {
  font-size: 2em;
}
header .other-link button i:hover {
  transform: scale(1.2);
  transition: 2s;
}
header nav .navbar__logo {
  font-family: "Edu SA Beginner", cursive;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: var(--navbar-bg-color);
  color: var(--navbar-color);
}
header .navbar__links {
  display: flex;
}
header .navbar__link {
  padding: 0 10px;
}
header .navbar__link > a {
  color: var(--navbar-color);
  text-decoration: none;
}
header .burger {
  display: none;
}

footer {
  background-color: whitesmoke;
  color: rgb(36, 36, 36);
  text-align: center;
  padding: 2em;
  bottom: 0;
}
footer a {
  color: coral;
}
footer a:hover {
  color: purple;
}

/*  Small device */
@media screen and (max-width: 767px) {
  header {
    /* Toggle menu */
    /* Bonus - Animations */
    /*  Medium device - Bonus */
  }
  header .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    background: var(--navbar-bg-color);
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
  }
  header .show-nav .navbar__links {
    width: 100vw;
    transform: translateX(0);
  }
  header .navbar__link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }
  header .show-nav .navbar__link {
    transform: translateX(0);
  }
  header .navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--navbar-color);
    transition: all 0.4s ease-in-out;
  }
  header .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }
  header .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  header .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }
  header .bar::before, header .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  header .bar::before {
    transform: translateY(-12px);
  }
  header .bar::after {
    transform: translateY(12px);
  }
  header .show-nav .bar {
    width: 0;
    background: transparent;
  }
  header .show-nav .bar::before {
    transform: rotate(45deg);
  }
  header .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  header .show-nav .first {
    transition: all 1s ease-out;
  }
  header .show-nav .second {
    transition: all 1.1s ease-out;
  }
  header .show-nav .third {
    transition: all 1.2s ease-out;
  }
  header .show-nav .four {
    transition: all 1.3s ease-out;
  }
  header .show-nav .fifth {
    transition: all 1.4s ease-out;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  header header nav .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width 0.4s;
  }
  header header nav .navbar__link:hover > a::after {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
